@import "layout/fonts.css" ;
@import "layout/header.css" ;
@import "layout/sidebar.css" ;
@import "layout/hamburger.css" ;
@import "layout/hero.css" ;
@import "layout/fade-slider.css" ;
@import "layout/filter.css" ;
@import "layout/products.css" ;
@import "layout/collections.css" ;
@import "layout/footer.css" ;
@import "layout/site-menu.css" ;
@import "layout/button.css" ;
@import "layout/extras.css" ;
@import "layout/socials.css" ;
@import "layout/tsherts-choice.css" ;
@import "layout/tsherts-opcions.css" ;
@import "layout/size__btn.css" ;
@import "layout/color__btn.css" ;
@import "layout/information.css " ;
@import "layout/desc__list.css " ;
@import "layout/size-table.css " ;
@import "layout/delivery.css " ;

:root {
  --yellow: #ffbc2f;
  --red: #d82727;
  --black: #1b1b1b;
  --titleFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}
html,
body {
  height: 100%;
}

body {
  font: 16px / 1.42 "Roboto", Arial, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fcf5e6;
}

.wrapper {
  overflow: hidden;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
}



.landing {
  background-color: #fcf5e6;
  margin-bottom: 650px;
  z-index: 10;
}

.container {
  margin: 0 auto;
  width: 1310px;
}
.container__products {
width: 1105px;
}
ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
} 