.btn {
  text-transform: uppercase;
  font-family: var(--titleFont);
  font-style: 24px;
  padding: 2px 30px;
  background: var(--black);
  color: var(--yellow);
  display: inline-block;
  text-decoration: none;
}



.btn:hover {
  background: var(--red);
  color: #fff;
  transition: .3s;
}