.tsherts-choice {
  display: flex;
  
  border: 5px solid var(--yellow);
  
}

.tsherts-choice__col {
  flex: 1;
  position: relative;
}

.tsherts-choice__item {
  background: var(--yellow);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s;
}

.tsherts-choice__item--active {
  opacity: 1;
}

.tsherts-choice__img {
display: block;
max-width: 90%;
max-height: 100%;
margin-left: auto;
    margin-right: auto
}